<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>News</title>
  </head>
  <body>
      <h1>Welcome! Here is the news that you querried for!</h1>
  </body>
</html>
